<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>116702106976-et09cnnctshjprou0a04ra5ql4qk2r83.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.116702106976-et09cnnctshjprou0a04ra5ql4qk2r83</string>
	<key>API_KEY</key>
	<string>AIzaSyDU9EbOhsj5wXY6vRyQhcMfNFlDZyXMSjw</string>
	<key>GCM_SENDER_ID</key>
	<string>116702106976</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pcyb</string>
	<key>PROJECT_ID</key>
	<string>pcyb-9a039</string>
	<key>STORAGE_BUCKET</key>
	<string>pcyb-9a039.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:116702106976:ios:977415a9967ff3277f7a05</string>
</dict>
</plist>